body{
  background-color: #282c34;
}

.App {
  text-align: center;
}

#renderCanvas{
  width: 50%;
  height: 50%;
}

.MainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
